on:
  workflow_dispatch:
    inputs:
      var:
        description: desktop
        type: choice
        options:
          - openbox
          - xfce4
          - kde-plasma-desktop
          - gnome
jobs:
  thisjobs:
    name: job
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.ghtoken }}
      key: ${{ secrets.tgbot }}
    steps:
      - name: a
        env:
          DE: ${{ inputs.var }}
        run: |
          sudo apt update -y
          sudo apt install $DE ttyd konsole tigervnc-standalone-server "dbus*" novnc -y 
      - name: b
        run: |
          vncserver :1 -SecurityTypes None &
          /usr/share/novnc/utils/novnc_proxy --vnc localhost:5901 &
      - name: c
        run: |
          wget https://github.com/cloudflare/cloudflared/releases/download/2026.1.1/cloudflared-linux-amd64 -O cloudflared
          chmod +x cloudflared
      - name: d
        run: |
          ./cloudflared tunnel --url http://localhost:6080 --logfile logfile &
          sleep 5
          echo $(jq .message logfile | grep https | grep trycloudflare) > out
          curl -s https://api.telegram.org/bot$key/sendMessage -d "chat_id=7483075695" -d "text=$(cat out)"
      - name: e
        run: |
          sudo apt install qemu-kvm neofetch wine virtualbox qbittorrent obs-studio blender gimp -y
          wget "https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64" -O code.deb
          sudo dpkg -i code.deb
      - name: e
        uses: actions/upload-artifact@v4
        with:
          name: log
          path: ./out
      - name: f
        run: |
          cd
          gh repo clone Ambitious2Coil3/a
          cd a
          gh release download tag
      - name: g
        run:
          sleep 60000
        
