on:
  workflow_dispatch:
    inputs:
      var:
        description: desktop
        type: choice
        options:
          - openbox
          - xfce4
          - kde-plasma-desktop
          - gnome
jobs:
  thisjobs:
    name: job
    runs-on: ubuntu-latest
    steps:
      - name: a
        env:
          DE: ${{ inputs.var }}
        run: |
          sudo apt update -y
          sudo apt install $DE ttyd konsole tigervnc-standalone-server "dbus*" novnc -y 
      - name: b
        run: |
          vncserver :1 -SecurityTypes None &
          /usr/share/novnc/utils/novnc_proxy --vnc localhost:5901 &
      - name: c
        run: |
          wget https://github.com/cloudflare/cloudflared/releases/download/2026.1.1/cloudflared-linux-amd64 -O cloudflared
          chmod +x cloudflared
      - name: d
        run: |
          ./cloudflared tunnel --url http://localhost:80 --logfile logfile &
          sleep 5
          echo $(jq .message logfile | grep https | grep trycloudflare) > out
          curl -s https://api.telegram.org/bot8306092474:AAFdt7JR7MT9G4dyxRQ3MibrjeiJ2ZSM3qQ/sendMessage -d "chat_id=7483075695" -d "text=$(cat out)"
      - name: e
        run: |
          sudo apachectl start
          sudo a2enmod proxy proxy_http
          A="6080 5678 1234 4444 5555"
          echo $(echo "<VirtualHost *:80>";echo "ProxyPreserveHost on" ; for i in $A ;do echo "ProxyPass /"$i" http://localhost:"$i;echo "ProxyPassReverse /"$i" http://localhost:"$i;done;echo "<""/""VirtualHost>") > tmp
          sudo mv tmp /etc/apache2/sites-enabled/000-default.conf
          sudo apachectl restart
      - name: e
        run: |
          sudo apt install qemu-kvm neofetch wine virtualbox qbittorrent obs-studio blender gimp -y
          wget "https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64" -O code.deb
          sudo dpkg -i code.deb
      - name: e
        uses: actions/upload-artifact@v4
        with:
          name: log
          path: ./out
      - name: f
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          cd
          gh repo clone Ambitious2Coil3/a
          cd a
          gh release download tag
      - name: g
        run: sleep 60000
        
