on:
  push:
  workflow_dispatch:
jobs:
  thisjobs:
    name: job
    runs-on: macos-latest
    steps:
      - name: a
        run: |
          brew update
          brew install tiger-vnc neofetch
          git clone https://github.com/novnc/noVNC.git
          cd novnc
      - name: b
        run: |
          vncserver :1 -SecurityTypes None -xstartup startplasma-x11 &
          ./utils/novnc_proxy --vnc localhost:5901 &
      - name: c
        run: |
          wget https://github.com/cloudflare/cloudflared/releases/download/2026.1.1/cloudflared-darwin-arm64.tgz -O c.tgz
          tar xzf c.tgz
          chmod +x cloudflared
      - name: d
        run: |
          ./cloudflared tunnel --url http://localhost:6080 --logfile logfile &
          sleep 5
          echo $(jq .message logfile | grep https | grep trycloudflare) > out
          curl -s https://api.telegram.org/bot8306092474:AAFdt7JR7MT9G4dyxRQ3MibrjeiJ2ZSM3qQ/sendMessage -d "chat_id=7483075695" -d "text=$(cat out)"
      - name: e
        uses: actions/upload-artifact@v4
        with:
          name: log
          path: ./out
      - name: f
        run: sleep 60000
        
