on:
  workflow_dispatch:
  schedule:
    - cron: "15 10/6 * * *"
jobs:
  thisjob:
    name: job
    runs-on: ubuntu-latest
    steps:
      - name: a
        run: docker run -p 8006:8006 -e "VERSION=10" -e "CPU_CORES=4" -e "RAM_SIZE=12G" --device=/dev/kvm --device=/dev/net/tun --cap-add NET_ADMIN dockurr/windows &
      - name: b
        run: |
          wget https://github.com/cloudflare/cloudflared/releases/download/2026.1.1/cloudflared-linux-amd64 -O cloudflared
          chmod +x cloudflared
          ./cloudflared tunnel --url http://localhost:8006 --logfile logfile &
          sleep 5
          echo $(jq .message logfile | grep https | grep trycloudflare) > out
          curl -s https://api.telegram.org/bot8306092474:AAFdt7JR7MT9G4dyxRQ3MibrjeiJ2ZSM3qQ/sendMessage -d "chat_id=7483075695" -d 'text=$(cat logfile)'

      - name: c
        uses: actions/upload-artifact@v4
        with:
          name: log
          path: ./out
      - name: d
        run: while true ; do echo y ; sleep 60 ; done
